<!DOCTYPE HTML>
<HTML>
   <HEAD></HEAD>
   <TITLE>Registration Form</TITLE>
<BODY>
 
<center>
<br><br>
<h1>User Registration Form</h1>
   <label class="username">Username</label>
   <input type="text" class="username" name="username">
   <br><br>
   <label class="email">Email</label>
   <input type="email" class="email" name="email">
   <br><br>
   <label class="password">Password</label>
   <input type="password" class="password" name="password">
   <br><br>
   <label class="con-password">Confirm Password</label>
   <input type="password" class="con-password" name="con-password">
   <br><br>
   <label class="dob">Date of Birth</label>
   <input type="date" class="dob" name="dob">
   <br><br>
   <label>Gender</label>
   <select class="select" name="gender">
<option>Male</option>
<option>Female</option>
<option>Other</option>
   </select>
<br><br>
<button type="submit">Register</button>
</center>
</BODY>
</HTML>